Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans_1: A database is a collection of data that is organized and stored in a way that allows for efficient   retrieval, manipulation, and management of information. 

There are generally two types of databases.

1) SQL : SQL stands for Structured Query Language. In SQL data are stored in a tabular manner.

2) NoSQL : NoSQL stands for Not Only Structured Query Language.In NoSQL data are stored in not only tabular form 
    but also in many other forms.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used.

Ans_2 : DDL stands for Data Definition Language used to define and manage the structure of a database and 
        its objects, such as tables, indexes, and constraints. 
    
1) CREATE : It is a keyword used to Create a new database.
2) DROP : It is a keyword used to delete a row in SQL database.
3) ALTER : It is a keyword used to modify the structure of exsisting database.
4) TRUNCATE : It is a keyword used to remove all rows from a table, effectively resetting its data content.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans_3 : DML stands for Data Manipulation Language used to manipulate and work with data stored in a database.
        DML statements are used to retrieve, insert, update, and delete data from database tables.
    
    1) INSERT : It is a statement used to add a new row in a table.
    2) UPDATE : It is a statement used to used to modify existing data in a table.
    3) DELETE : It is a statement used to delete row from the table.

Q4. What is DQL? Explain SELECT with an example.

Ans_4 : DQL stands for Data Query Language. It is a subset of SQL. It is used to used for querying
        and retrieving data from a database
    
    1) SELECT : It is used to retrieve data from one or more database tables based on specified criteria.

Q5. Explain Primary Key and Foreign Key.

Ans_5 : 
Primary Key : It is a column and set of columns which uniqly identifies each row in a table.

Foreign Key : A foreign key is a column or a set of columns in a table that establishes a link between the data in two related tables

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans_6 :

import mysql.connector
mydb = mysql.connector.connect(
    host ="localhost"
    user = "abc"
    password = "password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Show Database")

mysql.connector.connect() : This function is used to establish a connection to database, you just need to provide
host, username and password.

cursor() : After connecting to the database, you create a cursor object using the .cursor() method. The cursor is used to execute SQL queries and interact with the database.

execute() : This method of the cursor is used to execute SQL queries. You pass the SQL query string as an argument to this method. It prepares the query and sends it to the MySQL server for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans_7: 

    1) FROM
    2) JOIN
    3) WHERE
    4) GROUP BY
    5) HAVING 
    6) SELECT
    7) DISTINCT
    8) ORDER BY
    9) LIMIT/OFFSET