## Q1. Create one variable containing following type of data:
### (i) string
### (ii) list
### (iii) float
### (iv) tuple

In [2]:
str = "New Learning"
l = [12,34,33.55,True,False,"name",3+5j]
f = 33.2232
t = (1,23,4,True,"place")

## Q2. Given are some following variables containing data:
### (i) var1 = ‘ ‘
### (ii) var2 = ‘[ DS , ML , Python]’
### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
### (iv) var4 = 1.

In [11]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

### Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

In [2]:
a = 5
b = 3
# (i) / : divide operator, gives the divided result
ans1 = a/b
# (ii) % : modulus operator, gives the remainder
ans2 = a%b
# (iii) // : floor divison operator
ans3 = a//b
# (iv) ** : power operator, gives the power of a number
ans4 = a**b

print(ans1)
print(ans2)
print(ans3)
print(ans4)

1.6666666666666667
2
1
125

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [1]:
l = [2,3,True,False,"List1","List2",2.11,3.45,34,55.44]

for i in l:
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
False <class 'bool'>
List1 <class 'str'>
List2 <class 'str'>
2.11 <class 'float'>
3.45 <class 'float'>
34 <class 'int'>
55.44 <class 'float'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [4]:
a = int(input("Enter for a"))
b = int(input("Enter for b"))

count = 0
while a % b == 0:
    a = a/b
    count+=1
    
if(count>1):
    print("a divided by b by ",count,"times")
else:
    print("a does not divide b")

Enter for a 27
Enter for b 3

a divided by b by  3 times

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [6]:
l = [3,9,18,27,1,2,4,6,7,8,4,3,232,54,23,4,6,677,4,33,36]

for i in l:
    if i%3 == 0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

3  is divisible by 3
9  is divisible by 3
18  is divisible by 3
27  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
4  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
4  is not divisible by 3
3  is divisible by 3
232  is not divisible by 3
54  is divisible by 3
23  is not divisible by 3
4  is not divisible by 3
6  is divisible by 3
677  is not divisible by 3
4  is not divisible by 3
33  is divisible by 3
36  is divisible by 3

Mutable: A mutuable object is one whose value does not changes once its created 
Immutable: An immutable object is one whose value can changes

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [8]:
mutable = ['P','A','r','A'
mutable[2] = "R"
mutable

TypeError: 'str' object does not support item assignment